<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562673538895-tltfou581o444nlrc8h5puurp1o9h1sj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562673538895-tltfou581o444nlrc8h5puurp1o9h1sj</string>
	<key>API_KEY</key>
	<string>AIzaSyDbe2w2zVskb8Ti7Df4_oD5UqU9mld92K4</string>
	<key>GCM_SENDER_ID</key>
	<string>562673538895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gsc2023FoodApp</string>
	<key>PROJECT_ID</key>
	<string>gsc2023-food-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gsc2023-food-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562673538895:ios:bcf135bffbe16a9ece973a</string>
</dict>
</plist>